[submodule "verilator/repo"]
	path = verilator/repo
	url = http://git.veripool.org/git/verilator
[submodule "Verilog/repo"]
	path = Verilog/repo
	url = http://git.veripool.org/git/Verilog-Perl
[submodule "yosys/repo"]
	path = yosys/repo
	url = https://github.com/cliffordwolf/yosys.git
